@model TeknikServis.Entity.ViewsModel.AdminViewModels.GorevliViewModel

@{
    ViewBag.Title = "KullaniciEkle";
    Layout = "~/Areas/Yonetim/Views/Shared/_LayoutPageYonetim.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Kullanıcı Ekle
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-offset-2  col-md-6">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Kullanıcı Bilgileri</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    @using (@Html.BeginForm("KullaniciEkle", "Admin", FormMethod.Post))
                    {
                        <div class="box-body">
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary()
                            <div class="input-group">
                                <span class="input-group-addon">F</span>
                                @Html.EditorFor(x => x.FirmaAdi, new { htmlAttributes = new { @class = "form-control", placeholder = "Firma Adı" } })
                            </div>
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon">A</span>
                                @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Ad" } })
                            </div>
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon">S</span>
                                @Html.EditorFor(x => x.Surname, new { htmlAttributes = new { @class = "form-control", placeholder = "Soyad" } })
                            </div>

                            <br>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                @Html.EditorFor(x => x.Username, new { htmlAttributes = new { @class = "form-control", placeholder = "Kullanıcı Adı" } })
                            </div>
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                @Html.EditorFor(x => x.Email, new { htmlAttributes = new { @class = "form-control", type = "email", placeholder = "Email adresi" } })
                            </div>
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                @Html.EditorFor(x => x.Telefon, new { htmlAttributes = new { @class = "form-control", type = "phone", placeholder = "Telefon numarası" } })
                            </div>
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
                                @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "form-control", type = "password", placeholder = "Şifre" } })
                            </div>
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                @Html.EditorFor(x => x.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", type = "password", placeholder = "Şifre tekrarı" } })
                            </div>
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                @Html.DropDownListFor(x => x.RoleID, (List<SelectListItem>)ViewBag.roller, new { @class = "form-control" })
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary pull-right">Kaydet</button>
                        </div>
                    }

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </section>
</div>