
@{
    ViewBag.Title = "Şifremi Unuttum";
    Layout = "~/Views/Shared/_LayoutPageAccount.cshtml";
}
<div class="login-box">
    <div class="login-logo">
        <a href="@Url.Action("Index","Home")"><b>KLY</b>Teknik Servis</a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">Şifre Yenileme</p>
        @ViewBag.sonuc
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            @Html.AntiForgeryToken()
            <div class="form-group has-feedback">
                <input type="email" class="form-control" name="email" placeholder="E-posta">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-flat pull-right">Şifreyi Yenile</button>
                </div>
                <!-- /.col -->
            </div>
        }
        <a href="@Url.Action("Register","Account")" class="text-center">Üye Ol</a>
    </div>
    <!-- /.login-box-body -->
</div>
@section SayfaSonu
{
    <script>
        $(function () {
            $("body").addClass("hold-transition login-page");
        });
    </script>
}
